@model WebMVC.Models.PremioNobel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PremioNobel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivacao)
        </dt>

        <dd>
            @Html.Raw(Model.Motivacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PremioNobelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<ul>
    @foreach (var item in Model.Laureado)
    {
        if(item.LaureadoTipo == "1")
        {
            <li>
                  <i class="fa fa-user"></i>
                  <a href="@Url.Action("Details","LaureadoIndividuos",
                  new { id= item.LaureadoId})">@Html.Raw(item.LaureadoIndividuo.Nome)</a>
            </li>

        }
        else
        {
            <li>
                <i class="fa fa-building"></i>
                <a href="@Url.Action("Details","LaureadoOrganizacaos",
                new { id= item.LaureadoId})">@Html.Raw(item.LaureadoOrganizacao.Nome)</a>
            </li>
        }
    }
</ul>
