@model WebMVC.Models.Filiacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Filiacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FiliacaoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
